@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
  scroll-behavior:smooth;
  transition: all 0.2s;
}
#navBar{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--background);
  align-items: center;
}
#navBar a{
  text-decoration: none;
  color: var(--fontColor);
  font-family: 'Roboto', sans-serif;
  font-weight:500;
}
#logo{
  width: 40%;
  font-size: 40px;
  font-family: 'Annie Use Your Telescope', cursive;
}
#links{
  display: flex;
  font-size: 1.25rem;
  justify-content: space-evenly;
  width: 40%;
  scroll-behavior:smooth;
}
#modeBtn{
  font-size: 1.25rem;
  color: var(--fontColor);
}
#a{
  background-color: var(--background);
}
#showcaseArea{
  height: 80vh;
  display: flex;
  padding:50px;
  justify-content: space-between;
  align-items: center;
}